@model SubscriberViewModel

@*@model string*@

@*@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@


<div class="p-4 border rounded row">
    <div>
        <p>@Model.Notifications.Message</p>
        @*<p>@Model.MyMessage</p>*@

        @*<p>@ViewBag.MyMessagesList</p>*@

        @*@foreach (var item in ViewData.ModelMetadata.Properties)
        {
            <p>@(item.Name ?? item.Name)</p>
        }*@



        @*@Html.Raw(ViewBag.MyMessagesList)

            @ViewData["MyMessagesList"]*@
    </div>

    <div class="col-6">
        @* Partial View *@
        @*<partial name="~/Views/Shared/Components/Notifications/_ShowAllNotifications.cshtml" model="Model.Notifications" />*@
    </div>
</div>
