@model IEnumerable<Colibri.Models.Notifications>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@if (Model != null)
{
    <div>
        <table class="table table-striped">
            <tr class="table-info">
                <th>
                    @ViewData["CurrentUser"]
                </th>
                <th>
                    @ViewData["Message"]
                </th>
                <th>
                    @ViewData["NotificationType"]
                </th>
                <th>
                    @ViewData["CategoryTypeId"]
                </th>
                <th>
                    @ViewData["CategoryTypes"]
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr class="table-content">
                    <td class="tableContentColumn">
                        @Html.DisplayFor(n => item.Id)
                    </td>
                    <td class="tableContentColumn">
                        @Html.DisplayFor(n => item.Message)
                    </td>
                    <td class="tableContentColumn">
                        @Html.DisplayFor(n => item.NotificationType)
                    </td>
                    <td class="tableContentColumn">
                        @Html.DisplayFor(n => item.CategoryTypeId)
                    </td>
                    <td class="tableContentColumn">
                        @Html.DisplayFor(n => item.CategoryTypes)
                    </td>
                </tr>
            }
        </table>
    </div>
}
else
{
    <div>No Items added!</div>
}
