@model Colibri.ViewModels.ProductsViewModel
@using Colibri.Extensions
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Edit";
}

<h2 class="text-info">@ViewData["EditProduct"]</h2>

<!-- for Images: enctype="multipart/form-data" -->
<form method="post" enctype="multipart/form-data" asp-action="Edit">
    <div class="p-4 border rounded row">
        <!-- hidden Property needed -->
        <input hidden asp-for="Products.Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-1"></div>

        <!-- Image -->
        <div class="col-3">
            <img src="@Model.Products.Image" width="100%" style="border-radius:5px; border:1px solid #bbb9b9;" />
        </div>

        <!-- Product Properties -->
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Products.Name">@ViewData["Name"]</label>
                </div>
                <div class="col-8">
                    <input asp-for="Products.Name" class="form-control" />
                </div>
                <span asp-validation-for="Products.Name" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Products.Price">@ViewData["Price"]</label>
                </div>
                <div class="col-8">
                    <input asp-for="Products.Price" class="form-control" />
                </div>
                <span asp-validation-for="Products.Price" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Products.Image">@ViewData["Image"]</label>
                </div>
                <div class="col-8">
                    <input type="file" name="file" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="CategoryGroups">@ViewData["CategoryGroup"]</label>
                </div>
                <!-- using the Extension Method for DropDown -->
                <div class="col-8">
                    <select asp-for="@Model.Products.CategoryGroupId" asp-items="Model.CategoryGroups.ToSelectListItem(Model.Products.CategoryGroupId)"></select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="CategoryTypes">@ViewData["CategoryType"]</label>
                </div>
                <!-- using the Extension Method for DropDown -->
                <div class="col-8">
                    <select asp-for="@Model.Products.CategoryTypeId" asp-items="Model.CategoryTypes.ToSelectListItem(Model.Products.CategoryTypeId)"></select>
                </div>
            </div>
            @*<div class="form-group row">
                <div class="col-4">
                    <label asp-for="SpecialTags">@ViewData["SpecialTag"]</label>
                </div>*@
                <!-- using the Extension Method for DropDown -->
                @*<div class="col-8">
                    <select asp-for="@Model.Products.SpecialTagId" asp-items="Model.SpecialTags.ToSelectListItem(Model.Products.SpecialTagId)"></select>
                </div>
            </div>*@
            <!-- Available with a Checkbox -->
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Products.Available">@ViewData["Available"]</label>
                </div>
                <div class="col-8">
                    <input type="checkbox" asp-for="Products.Available" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Products.Description">@ViewData["Description"]</label>
                </div>
                <div class="col-8">
                    <input asp-for="Products.Description" class="form-control" />
                </div>
                <span asp-validation-for="Products.Description" class="text-danger"></span>
            </div>
        </div>
        <!-- Buttons -->
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value=@ViewData["Update"] />
            <a asp-action="Index" class="btn btn-success">@ViewData["BackToList"]</a>
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}