@model IEnumerable<Colibri.Models.CategoryGroups>
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">@ViewData["CategoryGroup"]</h2>
    </div>
    <div class="col-6 text-right">
        <div class="row">
            <div class="col">
                <a asp-action="Overview" asp-controller="CategoryGroups" class="btn btn-info">Overview</a>
            </div>
            <div class="col">
                <a asp-action="Create" asp-controller="CategoryGroups" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; @ViewData["NewCategoryGroup"]</a>
            </div>
        </div>
    </div>

</div>
<br />
<hr />
<div>
    <table class="table table-striped border">
        <tr class="text-info">
            <th>
                @ViewData["Name"]
            </th>
            <th>
                @ViewData["TypeOfCategoryGroup"]
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => item.TypeOfCategoryGroup)
                </td>
                <td>
                    <partial name="_TableButtonPartial" model="item.Id" />
                </td>
            </tr>
        }
    </table>
</div>