@using Microsoft.AspNetCore.Mvc.Localization
@model Colibri.ViewModels.ProductsRatingViewModel

@inject IViewLocalizer Localizer

<form method="post">
    <div class="col-6 text-center">
        <h2 class="text-info">@ViewData["EditProductRating"]</h2>
    </div>
    <div class="p-4 border rounded row">

        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    @ViewData["ProductName"]
                </div>
                <div class="col-8">
                    <input asp-for="Product.ProductName" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    @ViewData["UserName"]
                </div>
                <div class="col-8">
                    <input asp-for="Product.ApplicationUserName" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    @ViewData["Rating"]
                </div>
                <div class="col-8">
                    <input asp-for="Product.ProductRating" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    @ViewData["Description"]
                </div>
                <div class="col-8">
                    @*<input asp-for="Product.Description" class="form-control" readonly />*@
                    <textarea rows="4" asp-for="Product.Description" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value=@ViewData["Update"] />
                <a asp-action="Index" class="btn btn-success">@ViewData["BackToList"]</a>
            </div>
        </div>

    </div>
</form>