@model Colibri.ViewModels.AdvertisementViewModel
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization

<!-- individual CSS -->
@section applicationUsers {
    <link href="~/css/applicationUsers.css" rel="stylesheet" />
}

@inject IViewLocalizer Localizer

<form method="get">
    <div class="row">
        <div class="col-6 text-center">
            @*<h2 class="text-info">Product List</h2>*@
            <h2 class="text-info">@ViewData["Advertisement"]</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; @ViewData["NewAdvertisement"]</a>
        </div>
    </div>

    <!-- Search -->
    <div class="container">
        <div class="col-12">
            <!-- 1st row -->
            <div class="row">
                <div class="col-2">
                    @ViewData["ProductName"]
                </div>
                <div class="col-3">
                    @Html.Editor("searchProductName", new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <!-- empty column -->
                <div class="col-2">
                </div>

                <div class="col-2">
                    @ViewData["UserName"]
                </div>
                <div class="col-3">
                    @Html.Editor("searchUserName", new {htmlAttributes = new {@class = "form-control"}})
                </div>
                <!-- END: 1st row -->
            </div>

            <!-- Search row -->
            <div class="row">
                <div class="col-2">
                    @*@ViewData["ShowMine"]*@
                </div>
                <div class="col-3">
                    @*@Html.Editor("filterMine", new { htmlAttributes = new { @class = "form-control" } })*@
                </div>

                <!-- empty column -->
                <div class="col-2">
                </div>

                <div class="col-2">
                </div>
                <div class="col-3">
                    <button type="submit" name="submit" value="Search" class="btn btn-primary form-control">
                        <i class="fas fa-search"></i> @ViewData["Search"]
                    </button>
                </div>
                <!-- END: Search row -->
            </div>
        </div>
        <!-- END: Search -->
    </div>

    <br />

    <div>
        <table class="table table-striped border">
            <tr class="text-info">
                <th>
                    @ViewData["AdvertisementName"]
                </th>
                <th>
                    @ViewData["Price"]
                </th>
                <th>
                    @ViewData["CategoryGroup"]
                </th>
                <th>
                    @ViewData["CategoryType"]
                </th>
                <th>
                    @ViewData["Description"]
                </th>
                <th>
                    @ViewData["NumberOfClicks"]
                </th>
                <th>
                    @ViewData["UserName"]
                </th>
                <th></th>
                <th></th>
            </tr>

            @foreach (var item in Model.Products)
            {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Name)
                </td>
                <td>
                    @String.Format("{0:c}", item.Price)
                </td>
                <td>
                    @Html.DisplayFor(m => item.CategoryGroups.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => item.CategoryTypes.Name)
                </td>
                <td>
                    @Html.DisplayNameFor(m => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(m => item.NumberOfClicks)
                </td>
                <td>
                    @Html.DisplayFor(m => item.ApplicationUserName)
                </td>
                @if (User.Identity.IsAuthenticated && Model.CurrentUserId == item.ApplicationUserId)
                {
                    <td>
                        <partial name="_TableButtonPartialCustomerAdvertisementAuthorized" model="item.Id" />
                    </td>
                }
                else
                {
                    <td>
                        <partial name="_TableButtonPartialCustomerAdvertisement" model="item.Id" />
                    </td>
                }
            </tr>
            }
        </table>
    </div>

    <!-- Pagination -->
    <div page-model="@Model.PagingInfo"
         page-action="Index"
         page-classes-enabled="true"
         page-class="btn border"
         page-class-normal="btn btn-default active"
         page-class-selected="btn btn-primary active"
         class="btn-group m-1">
    </div>
</form>
