@model Colibri.ViewModels.SearchViewModel
@using Colibri.Extensions

<h2>Index</h2>

<div class="form-row">
    <!--Anzeigen der Filtereinstellungen-->
    <div class="form-border col-2">
        <form asp-controller="SearchRequests" asp-action="Index">

            <div class="col-10">
                <label asp-for="SearchAdvertisement" class="custom-label"></label>
            </div>
            <div class="col-10">
                <input asp-for="SearchAdvertisement" class="form-control" />
            </div>
            <br />

            <div class="col-10">
                <label asp-for="SearchCategoryGroup" class="custom-label"></label>
            </div>
            <div class="col-10">
                <input asp-for="SearchCategoryGroup" class="form-control" />
            </div>
            <br />

            <div class="col-10">
                <label asp-for="SearchCategoryType" class="custom-label"></label>
            </div>
            <div class="col-10">
                <input asp-for="SearchCategoryType" class="form-control" />
            </div>
            <br />

            <input type="submit" value="Suchen" class="btn btn-primary" />
        </form>


    </div>

    <!--Anzeigen der Resultate-->
    <div class="col-8">
        <div class="form-border">
            <div class="form-group row">
                @foreach (var product in Model.ProductsList)
                {
                    <div class="col-4">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">
                                    <label style="font-size:23px;color:steelblue;">
                                        @Html.DisplayFor(m => product.Name)
                                    </label>
                                </h4>
                            </div>

                            <img class="card-img-top" style="height:100%;" src="@product.Image" alt="Card Image">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <label style="font-size:20px; color:#a51313">
                                            @*<b>$@ViewData["Price"]</b>*@
                                            <b>$@product.Price</b>
                                        </label>
                                    </div>
                                    <a asp-action="Details" asp-controller="SearchRequests" class="btn btn-success pull-right btn-outline-info" asp-route-id="@product.Id">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="col-8">
        <div class="form-border">
            <div class="form-group row">
                @foreach (var userService in Model.UserServicesList)
                {
                    <div class="col-4">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">
                                    <label style="font-size:23px;color:steelblue;">
                                        @Html.DisplayFor(m => userService.Name)
                                    </label>
                                </h4>
                            </div>

                            <img class="card-img-top" style="height:100%;" src="@userService.Image" alt="Card Image">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <label style="font-size:20px; color:#a51313">
                                            @*<b>$@ViewData["Price"]</b>*@
                                            <b>$@userService.Price</b>
                                        </label>
                                    </div>
                                    <a asp-action="Details" asp-controller="SearchRequests" class="btn btn-success pull-right btn-outline-info" asp-route-id="@userService.Id">Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
