@using Microsoft.AspNetCore.Mvc.Localization
@model Colibri.ViewModels.UserServicesRatingViewModel

@inject IViewLocalizer Localizer

<form method="get">
    <div class="row">
        <div class="col-6 text-center">
            <h2 class="text-info">@ViewData["UserServiceRatingList"]</h2>
        </div>
    </div>

    <!-- Search -->
    <div class="container">
        <div class="col-12">
            <!-- 1st row -->
            <div class="row">
                <div class="col-2">
                    @ViewData["UserServiceName"]
                </div>
                <div class="col-3">
                    @Html.Editor("searchUserServiceName", new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <!-- empty column -->
                <div class="col-2">
                </div>

                <div class="col-2">
                    @ViewData["UserName"]
                </div>
                <div class="col-3">
                    @Html.Editor("searchUserName", new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <!-- END: 1st row -->
            </div>

            <!-- Search row -->
            <div class="row">
                <div class="col-2">
                    @ViewData["UserServiceRating"]
                </div>
                <div class="col-3">
                    @Html.Editor("searchUserServiceRating", new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <!-- empty column -->
                <div class="col-2">
                </div>

                <div class="col-2">
                </div>
                <div class="col-3">
                    <button type="submit" name="submit" value="Search" class="btn btn-primary form-control">
                        <i class="fas fa-search"></i> @ViewData["Search"]
                    </button>
                </div>
                <!-- END: Search row -->
            </div>
        </div>
        <!-- END: Search -->
    </div>

    <br />

    <div>
        <table class="table table-striped border">
            <tr class="text-info">
                <th>
                    @ViewData["UserServiceName"]
                </th>
                <th>
                    @ViewData["UserName"]
                </th>
                <th>
                    @ViewData["UserServiceRating"]
                </th>
                <th>
                    @ViewData["Description"]
                </th>
                <th></th>
                <th></th>
            </tr>

            @foreach (var item in Model.UserServices)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(p => item.UserServiceName)
                    </td>
                    <td>
                        @Html.DisplayFor(u => item.ApplicationUserName)
                    </td>
                    <td>
                        @Html.DisplayFor(r => item.UserServiceRating)
                    </td>
                    <td>
                        @Html.DisplayFor(d => item.Description)
                    </td>
                    @if (User.Identity.IsAuthenticated && Model.CurrentUserId == item.ApplicationUserId)
                    {
                        <td>
                            <partial name="_TableButtonPartialCustomerUserServiceRatingsAuthorized" model="item.Id" />
                        </td>
                    }
                    else
                    {
                        <td>
                            <partial name="_TableButtonPartialCustomerUserServiceRatings" model="item.Id" />
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
</form>