@model Colibri.ViewModels.ShoppingCartViewModel

<!-- individual CSS -->
@section shoppingCart {
    <link href="~/css/shoppingCart.css" rel="stylesheet" />
}

@{
    ViewData["Title"] = "Index";
}

<form method="post">
    <h2 class="text-info">Your Shopping Cart</h2>
    @if (Model.Products.Count > 0)
    {
        <div class="container border border-secondary rounded">
            <div class="row">
                <div class="col-8">
                    <table class="table table-striped">
                        <tr class="table-info">

                            <!-- Table Headers -->
                            <th id="imageRowHeader"></th>
                            <th>
                                <label asp-for="@Model.Products.FirstOrDefault().Name"></label>
                            </th>
                            <th>
                                <label asp-for="@Model.Products.FirstOrDefault().Price"></label>
                            </th>
                            <th>
                                <label asp-for="@Model.Products.FirstOrDefault().CategoryTypes"></label>
                            </th>
                            <th>
                                <label asp-for="@Model.Products.FirstOrDefault().Description"></label>
                            </th>
                            <th></th>
                            <!-- END: Table Headers -->
                        </tr>

                        <!-- Table Content -->
                        @foreach (var item in Model.Products)
                        {
                            <!-- Images clickable: redirect to Details Page -->
                            <tr class="table-content">
                                <td id="imageContent">
                                    <a asp-controller="ProductsHome" asp-action="Details" asp-route-id="@item.Id">
                                        <img src="@item.Image" />
                                    </a>
                                </td>
                                <td class="tableContentColumn">
                                    @Html.DisplayFor(p => item.Name)
                                </td>
                                <td class="tableContentColumn">
                                    @Html.DisplayFor(p => item.Price)
                                </td>
                                <td class="tableContentColumn">
                                    @Html.DisplayFor(p => item.CategoryTypes.Name)
                                </td>
                                <td class="tableContentColumn">
                                    @Html.DisplayFor(p => item.Description)
                                </td>

                                <!-- delete the Items from the Cart -->
                                <td class="tableContentColumn">
                                    <button type="submit" class="btn btn-danger" asp-action="remove" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i></button>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    }
</form>

