@model Colibri.Models.Products

<h2>@ViewData["DetailsProduct"]</h2>
<br />

<form method="post" enctype="multipart/form-data">
    <div class="form-border row">
        <input type="hidden" asp-for="Id" />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-6">
            <fieldset disabled>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Name" class="custom-label">@ViewData["Title"]</label>
                    </div>
                    <div class="col-7">
                        <input asp-for="Name" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Description" class="custom-label">@ViewData["Description"]</label>
                    </div>
                    <div class="col-7">
                        <textarea asp-for="Description" class="form-control"></textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="CategoryGroupId" class="custom-label">@ViewData["CategoryGroup"]</label>
                    </div>
                    <div class="col-7">
                        <input asp-for="CategoryGroups.Name" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="CategoryTypeId" class="custom-label">@ViewData["CategoryType"]</label>
                    </div>
                    <div class="col-7">
                        <input asp-for="CategoryTypes.Name" class="form-control" />
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Image" class="custom-label">@ViewData["Image"]</label>
                    </div>
                    <div class="col-7">
                        <input type="file" name="files" multiple class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Price" class="custom-label">@ViewData["Price"]</label>
                    </div>
                    <div class="col-7">
                        <input asp-for="Price" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="DueDateFrom" class="custom-label">@ViewData["DateFrom"]</label>
                    </div>
                    <div class="col-7">
                        <input asp-for="DueDateFrom" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="DueDateTo" class="custom-label">@ViewData["DateTo"]</label>
                    </div>
                    <div class="col-7">
                        <input asp-for="DueDateTo" class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Available" class="custom-label">@ViewData["Available"]</label>
                    </div>
                    <div class="col-7">
                        <input asp-for="Available" class="form-control" />
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                <a asp-action="EditProduct" asp-route-id="@Model.Id" class="btn btn-primary">@ViewData["Edit"]</a>
                <a asp-action="Index" class="btn btn-success">@ViewData["Back"]</a>
            </div>

        </div>
        <div class="col-5">
            <img src="@Model.Image" width="100%" style="border-radius:5px;border:1px solid #bbb9b9" />
        </div>
    </div>
</form>
<br />