@model Colibri.Models.ApplicationUser
@using Microsoft.AspNetCore.Mvc.Localization

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@inject IViewLocalizer Localizer

<h2 class="text-info">@ViewData["ApplicationUserDetails"]</h2>

<form method="post">
    <div class="p-4 border rounded row">

        <!-- Image -->
        <div class="col-3">
            <img src="~/img/SystemImages/user_500_500.png" class="productImage" />
            @if (Model.EmailConfirmed)
            {
                <img src="~/img/SystemImages/IconApprovedgreen.png" class="availableIconImage" />
            }
            else
            {
                <img src="~/img/SystemImages/Cute-Ball-Stop-icon.png" class="availableIconImage" />
            }
        </div>

        <!-- Application User Properties -->
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="UserName">@ViewData["UserName"]</label>
                </div>
                <div class="col-8">
                    <input asp-for="UserName" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="FirstName">@ViewData["FirstName"]</label>
                </div>
                <div class="col-8">
                    <input asp-for="FirstName" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="LastName">@ViewData["LastName"]</label>
                </div>
                <div class="col-8">
                    <input asp-for="LastName" class="form-control" readonly />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                </div>
                <div class="col-8">
                    <a asp-action="ContactUser" asp-controller="ApplicationUser" class="btn btn-primary form-control" asp-route-id="@Model.Id">@ViewData["Contact"]</a>
                </div>
            </div>
        </div>
        <div class="form-group">
            <!-- hidden Field Id to use in the Session -->
            <input hidden asp-for="Id" />
            <a asp-action="Index" class="btn btn-success">@ViewData["BackToList"]</a>
        </div>
    </div>
</form>