@model Colibri.ViewModels.ApplicationUserViewModel

<!-- individual CSS -->
@section applicationUsers {
    <link href="~/css/applicationUsers.css" rel="stylesheet" />
}

<form method="get">
    <div class="row">
        <div class="col-6 text-center">
            <h2 class="text-info">Application Users List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; New User</a>
        </div>
    </div>

    <!-- Search -->
    <div class="container">
        <div class="col-12">
            <!-- 1st row -->
            <div class="row">
                <div class="col-2">
                    User Name
                </div>
                <div class="col-3">
                    @Html.Editor("searchUserName", new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <!-- empty column -->
                <div class="col-2">
                </div>

                <div class="col-2">
                    First Name
                </div>
                <div class="col-3">
                    @Html.Editor("searchFirstName", new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <!-- END: 1st row -->
            </div>

            <!-- 2nd row -->
            <div class="row">
                <div class="col-2">
                </div>
                <div class="col-3">
                </div>

                <!-- empty column -->
                <div class="col-2">
                </div>

                <div class="col-2">
                    Last Name
                </div>
                <div class="col-3">
                    @Html.Editor("searchLastName", new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <!-- Search row -->
            <div class="row">
                <div class="col-2">
                </div>
                <div class="col-3">
                </div>
                <div class="col-2">

                </div>
                <div class="col-2">
                </div>
                <div class="col-3">
                    <button type="submit" name="submit" value="Search" class="btn btn-primary form-control">
                        <i class="fas fa-search"></i> Search
                    </button>
                </div>
            <!-- END: Search row -->
            </div>
        </div>
    <!-- END: Search -->
    </div>

    <br />

    <div>
        <table class="table table-striped border">

            <!-- the Titles Row -->
            <tr class="text-info">
                <th>
                    @Html.DisplayNameFor(m => m.ApplicationUsers.FirstOrDefault().UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.ApplicationUsers.FirstOrDefault().FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.ApplicationUsers.FirstOrDefault().LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.ApplicationUsers.FirstOrDefault().Email)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.ApplicationUsers.FirstOrDefault().PhoneNumber)
                </th>
                <th>
                    Disabled
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.ApplicationUsers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.PhoneNumber)
                    </td>
                    <td>
                        <!-- Condition 'Lockout': if the Date ends, lock the User out -->
                        @if (item.LockoutEnd != null || item.LockoutEnd > DateTime.Now)
                        {
                            <label>Disabled</label>
                        }
                    </td>
                    <td>
                        <!-- Condition 'Lockout': if the Date does NOT end, allow Redirection -->
                        @if (item.LockoutEnd == null || item.LockoutEnd < DateTime.Now)
                        {
                            <a type="button" class="btn btn-primary" href="@Url.Action("Edit/" + item.Id)">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a type="button" class="btn btn-danger" href="@Url.Action("Delete/" + item.Id)">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</form>