@model Colibri.ViewModels.ApplicationUserViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!-- Rating -->
<form method="post" enctype="multipart/form-data" asp-action="RateUser">
    <div class="form-group" id="rating-ability-wrapper">
        <label class="control-label" for="rating">
            <span class="field-label-header">@ViewData["RateQuestion"]</span>
            <span class="field-label-info"></span>
            <input type="hidden" id="selected_rating" name="selected_rating" value="" required="required">
        </label>

        <br /><br />

        <h2 class="bold rating-header" style="">
            <span class="selected-rating">0</span><small> / 5</small>
        </h2>

        <br />

        <!-- handle Buttons -->
        <button class="btnrating btn btn-outline-light btn-lg" data-attr="1" id="rating-star-1">
            <input type="submit" name="command" value="1" />
            <i class="fa fa-star" aria-hidden="true"></i>
        </button>

        <button class="btnrating btn btn-outline-light btn-lg" data-attr="2" id="rating-star-2">
            <input type="submit" name="command" value="2" />
            <i class="fa fa-star" aria-hidden="true"></i>
        </button>

        <button class="btnrating btn btn-outline-light btn-lg" data-attr="3" id="rating-star-3">
            <input type="submit" name="command" value="3" />
            <i class="fa fa-star" aria-hidden="true"></i>
        </button>

        <button class="btnrating btn btn-outline-light btn-lg" data-attr="4" id="rating-star-4">
            <input type="submit" name="command" value="4" />
            <i class="fa fa-star" aria-hidden="true"></i>
        </button>

        <button class="btnrating btn btn-outline-light btn-lg" data-attr="5" id="rating-star-5">
            <input type="submit" name="command" value="5" />
            <i class="fa fa-star" aria-hidden="true"></i>
        </button>

        <br /><br />

        <div>
            <a asp-area="Customer" asp-action="Index" asp-controller="ApplicationUserRating" class="btn btn-success pull-right btn-outline-info">@ViewData["ShowAllRatings"]</a>

            @if (@Html.Raw(TempData["showApplicationUserRating"]).ToString() != "")
            {
                <a asp-area="Customer" asp-action="Rating" asp-controller="ApplicationUserRating" class="btn btn-success pull-right btn-outline-warning" asp-route-id="@Html.Raw(TempData["applicationUserId"])">@ViewData["ShowRating"]</a>
            }
        </div>

    </div>

    <div>
        @Html.Raw(TempData["msg"])
    </div>
    <div>
        @Html.Raw(TempData["returnButton"])
    </div>
    <div>
        @if (@Html.Raw(TempData["returnBackButton"]).ToString() != "")
        {
            <div>
                <a asp-action="Index" class="btn btn-success">@ViewData["BackToList"]</a>
            </div>
        }
    </div>
</form>

@section Scripts
    {
    <script>
        jQuery(document).ready(function ($) {
            $(".btnrating").on('click',
                (function (e) {
                    var previous_value = $("#selected_rating").val();

                    var selected_value = $(this).attr("data-attr");
                    $("#selected_rating").val(selected_value);

                    $(".selected-rating").empty();
                    $(".selected-rating").html(selected_value);

                    for (i = 1; i <= selected_value; ++i) {
                        $("#rating-star-" + i).toggleClass('btn-warning');
                        $("#rating-star-" + i).toggleClass('btn-outline-light');
                    }

                    for (ix = 1; ix <= previous_value; ++ix) {
                        $("#rating-star-" + ix).toggleClass('btn-warning');
                        $("#rating-star-" + ix).toggleClass('btn-outline-light');
                    }
                }));
        });
    </script>
}