@model Colibri.ViewModels.CategoryTypesAndCategoryGroupsViewModel
@using Colibri.Extensions
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<div class="row">
    <div class="col-12">
        <h2 class="text-info">@ViewData["CreateCategoryServiceType"]</h2>
    </div>
</div>

<br />
@Html.Partial("_StatusMessage", Model.StatusMessage)
<hr />

<div class="row">
    <div class="col-8">
        <form asp-action="Create">
            <div class="p-4 border rounded">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="CategoryTypes.Name" class="custom-label">@ViewData["Name"]</label>
                    </div>
                    <div class="col-5">
                        <input asp-for="CategoryTypes.Name" class="form-control" />
                    </div>
                    <span asp-validation-for="CategoryTypes.Name" class="text-danger"></span>
                </div>

                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="CategoryTypes.CategoryGroupId" class="custom-label">@ViewData["CategoryGroup"]</label>
                    </div>
                    <div class="col-5">
                        <select asp-for="CategoryTypes.CategoryGroupId" asp-items="Model.CategoryGroupsList.ToSelectListItem(Model.CategoryTypes.CategoryGroupId)" class="form-control"></select>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="CategoryTypes.PLZ" class="custom-label">@ViewData["PLZ"]</label>
                    </div>
                    <div class="col-5">
                        <input asp-for="CategoryTypes.PLZ" class="form-control" />
                    </div>
                    <span asp-validation-for="CategoryTypes.PLZ" class="text-danger"></span>
                </div>

                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="isNew" class="custom-label">@ViewData["IsNew"]</label>
                    </div>
                    <div class="col-5">
                        <input asp-for="isNew" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value=@ViewData["Create"] />
                    <a asp-action="Index" class="btn btn-success">@ViewData["BackToList"]</a>
                </div>
            </div>

        </form>

    </div>

    <!--Liste mit vorhandenen Rubriken anzeigen-->
    <div class="col-4">
        @if (Model.CategoryTypesList.Count() > 0)
        {
            <p>@ViewData["ExistingCategories"]</p>
            <ul class="list-group">
                @foreach (var item in Model.CategoryTypesList)
                {
                    <li class="list-group-item">@item</li>
                }
            </ul>
        }
    </div>
</div>


@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}