@model IEnumerable<Colibri.Models.CategoryTypes>
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<div class="row">
    <div class="col-6 text-center">
        <h2 class="text-info">@ViewData["CategoryType"]</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" asp-controller="CategoryTypes" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; @ViewData["NewCategoryType"]</a>
    </div>
</div>
<div>
    <table class="table table-striped border">
        <tr class="text-info">
            <th>
                @ViewData["Name"]
            </th>
            <th>
                @ViewData["CategoryGroup"]
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => item.CategoryGroups.Name)
                </td>
                <td>
                    <partial name="_TableButtonPartial" model="item.Id" />
                </td>
            </tr>
        }
    </table>
</div>