@using Microsoft.AspNetCore.Mvc.Localization
@model Colibri.Models.Appointments
@inject IViewLocalizer Localizer
<!-- individual CSS -->
@section scheduling {
    <link href="~/css/scheduling.css" rel="stylesheet" />
}

<h4 class="text-success">Appointment Details</h4>

<div class="appointment-details container border">
    <!-- Part 1 -->
    <div class="col-12">
        <div class="row">
            <div class="col-2">
                @ViewData["UserName"]
            </div>
            <div class="col-3">
                <input asp-for="@Model.Customer.UserName" readonly class="form-control" />
            </div>
            <!-- empty row -->
            <div class="col-2"></div>

            <div class="col-2">
                @ViewData["CustomerEmail"]
            </div>
            <div class="col-3">
                <input asp-for="@Model.CustomerEmail" readonly class="form-control" />
            </div>
        </div>
    </div>
    <!-- END: Part 1 -->
    <!-- Part 2 -->
    <div class="col-12">
        <div class="row">
            <div class="col-2">
                @ViewData["CustomerPhoneNumber"]
            </div>
            <div class="col-3">
                <input asp-for="@Model.CustomerPhoneNumber" readonly class="form-control" />
            </div>
            <!-- empty row -->
            <div class="col-2"></div>

            <div class="col-2">
                @ViewData["AppointmentDate"]
            </div>
            <div class="col-3">
                <input asp-for="@Model.AppointmentDate" readonly class="form-control" />
            </div>
        </div>
    </div>
    <!-- END: Part 2 -->
</div>
