@model List<Colibri.Models.Products>

<!-- individual CSS -->
@section shoppingCart {
    <link href="~/css/shoppingCart.css" rel="stylesheet" />
}

@if (Model.Count > 0)
{
    <table class="table table-striped">
        <tr class="table-info">

            <!-- Table Headers -->
            <th id="imageRowHeader"></th>
            <th>
                <label asp-for="@Model.FirstOrDefault().Name"></label>
            </th>
            <th>
                <label asp-for="@Model.FirstOrDefault().Price"></label>
            </th>
            <th>
                <label asp-for="@Model.FirstOrDefault().CategoryTypes"></label>
            </th>
            <th>
                <label asp-for="@Model.FirstOrDefault().Description"></label>
            </th>
            <th></th>
            <!-- END: Table Headers -->
        </tr>

        <!-- Table Content -->
        @foreach (var item in Model)
        {
            <!-- Images clickable: redirect to Details Page -->
            <tr class="table-content">
                <td id="imageContent">
                    <a asp-controller="ProductsHome" asp-action="Details" asp-route-id="@item.Id">
                        <img src="@item.Image" />
                    </a>
                </td>
                <td class="tableContentColumn">
                    @Html.DisplayFor(p => item.Name)
                </td>
                <td class="tableContentColumn">
                    @Html.DisplayFor(p => item.Price)
                </td>
                <td class="tableContentColumn">
                    @Html.DisplayFor(p => item.CategoryTypes.Name)
                </td>
                <td class="tableContentColumn">
                    @Html.DisplayFor(p => item.Description)
                </td>

                <!-- delete the Items from the Cart -->
                <td class="tableContentColumn">
                    <button type="submit" class="btn btn-danger" asp-action="remove" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i></button>
                </td>
            </tr>
        }
    </table>
}
else
{
    <div>No Items added!</div>
}