<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/index.css" rel="stylesheet" />
</head>
<body>
    <header class="container">
    </header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Colibri</a>
                <a class="navbar-brand" href="/contact">Contact</a>
                <a class="navbar-brand" href="/about">About</a>
            </div>
        </div>
        <div class="navbar-right">
            <vc:login-logout></vc:login-logout>
        </div>
    </nav>
    <main class="container">
        <aside></aside>
        <section>
            <article>
                <h2>@ViewBag.Title</h2>
                @RenderBody()
            </article>
        </section>
    </main>
    <footer class="container">
        <div class="text-center">
            @DateTime.Now.Year
        </div>
    </footer>

    <script src="~/node_modules/jquery/dist/jquery.js"></script>
    <script src="~/js/index.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
