@using Microsoft.AspNetCore.Http
@using Colibri.Extensions
@using Colibri.Utility

@inject IHttpContextAccessor HttpContextAccessor


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="~/css/index.css" rel="stylesheet" />
    <link href="~/css/products.css" rel="stylesheet" />
    <!-- Date and Time Pickers -->
    <link href="~/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/css/jquery.timepicker.css" rel="stylesheet" />
    <!-- individual CSS -->
    @RenderSection("shoppingCart", false)
</head>
<body>
    <header class="container">
        <nav class="navbar navbar-dark bg-dark navbar-expand-md">
            <h1 class="navbar-brand"><i class="fa fa-globe"></i> Colibri</h1>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#theMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="theMenu" class="navbar-collapse collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="CategoryTypes" asp-action="Index">Category Types</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="SpecialTags" asp-action="Index">Special Tags</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Products" asp-action="Index">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="ProductsHome" asp-action="Index">Products List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="About" asp-action="">About</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
                        </li>
                    }

                    <!-- handle Session: Values in the Session -->
                    @if (HttpContextAccessor.HttpContext.Session.Get<List<int>>("ssSessionOrderExists") != null)
                    {
                        <li style="color:white">
                            <a asp-area="Customer" asp-controller="ShoppingCart" asp-action="Index" class="nav-link">
                                <i class="fas fa-shopping-cart"></i> &nbsp;
                                <!-- # Items in the Shopping Cart -->
                                @{
                                    var count = HttpContextAccessor.HttpContext.Session.Get<List<int>>("ssSessionOrderExists").Count;
                                }
                                (@count)
                            </a>
                        </li>
                    }
                    else
                    {
                        <li style="color:white">
                            <a asp-area="Customer" asp-controller="ShoppingCart" asp-action="Index" class="nav-link">
                                <i class="fas fa-shopping-cart"></i> &nbsp;
                                <!-- display Zero -->
                                (0)
                            </a>
                        </li>
                    }
                </ul>
                <div class="navbar-right">
                    <vc:login-logout></vc:login-logout>
                </div>
            </div>
        </nav>
    </header>
    <main class="container">
        <aside></aside>
        <section>
            <article>
                <h2 class="text-center">@ViewBag.Title</h2>
                @RenderBody()
            </article>
        </section>
    </main>
    <footer class="container">
        <div class="text-center">
            Colibri @DateTime.Now.Year
        </div>
    </footer>

    <script src="~/node_modules/jquery/dist/jquery.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- asp-append-version  -->
    <script src="~/js/index.js" asp-append-version="true"></script>
    <link href="~/js/jquery-ui.js" asp-append-version="true" />
    <link href="~/js/jquery.timepicker.js" asp-append-version="true" />
    @RenderSection("scripts", false)
</body>
</html>
