@model Colibri.Models.ApplicationUser
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Edit";
}

<h2 class="text-info">@ViewData["EditAdminUser"]</h2>

<form method="post" asp-action="Edit">
    <div class="p-4 border rounded">
        <input type="hidden" asp-for="Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="FirstName">@ViewData["FirstName"]</label>
            </div>
            <div class="col-5">
                <input asp-for="FirstName" class="form-control" />
            </div>
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="LastName">@ViewData["LastName"]</label>
            </div>
            <div class="col-5">
                <input asp-for="LastName" class="form-control" />
            </div>
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Email">@ViewData["Email"]</label>
            </div>
            <div class="col-5">
                <input asp-for="Email" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="PhoneNumber">@ViewData["PhoneNumber"]</label>
            </div>
            <div class="col-5">
                <input asp-for="PhoneNumber" class="form-control" />
            </div>
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Street">@ViewData["Street"]</label>
            </div>
            <div class="col-5">
                <input asp-for="Street" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="CareOf">@ViewData["CareOf"]</label>
            </div>
            <div class="col-5">
                <input asp-for="CareOf" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="City">@ViewData["City"]</label>
            </div>
            <div class="col-5">
                <input asp-for="City" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Zip">@ViewData["Zip"]</label>
            </div>
            <div class="col-5">
                <input asp-for="Zip" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Country">@ViewData["Country"]</label>
            </div>
            <div class="col-5">
                <input asp-for="Country" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" asp-route-id="@Model.Id" value=@ViewData["Update"] />
            <a asp-action="Index" class="btn btn-success">@ViewData["BackToList"]</a>
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}