@model Colibri.ViewModels.SchedulingViewModel

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<!-- individual CSS -->
@section scheduling {
    <link href="~/css/scheduling.css" rel="stylesheet" />
}

<div class="appointment-confirmation">
    <h2 class="text-info">@ViewData["AppointmentConfirmation"]</h2>
    <div class="form-text">
        @ViewData["AppointmentsConfirmationSentence"]
    </div>

    <!-- consume the Partial Views -->
    <div class="appointment-confirmation-content">
        <partial name="~/Views/Shared/_AppointmentCustomerDetails.cshtml" model="Model.Appointments" />

        @if (Model.Products.Count > 0)
        {
            <partial name="~/Views/Shared/_AppointmentProductDetails.cshtml" model="Model.Products" />
        }
        else if (Model.UserServices.Count > 0)
        {
            <partial name="~/Views/Shared/_AppointmentServicesDetails.cshtml" model="Model.UserServices" />
        }
        else
        {
            <div>@ViewData["NoItemsAdded"]!</div>
        }

        <a asp-area="" asp-controller="SearchOffers" asp-action="Index" class="btn btn-success">@ViewData["BackToOffers"]</a>
        <a asp-area="" asp-controller="SearchRequests" asp-action="Index" class="btn btn-success">@ViewData["BackToRequests"]</a>
    </div>
</div>

