@model Colibri.ViewModels.SchedulingViewModel
@using Microsoft.AspNetCore.Mvc.Localization

<!-- individual CSS -->
@section scheduling {
    <link href="~/css/scheduling.css" rel="stylesheet" />
}

@inject IViewLocalizer Localizer

<form method="post">
    <h2 class="text-info">@ViewData["SchedulingTitle"]</h2>
    @*@if (Model.Products.Count > 0)
    {*@
        <div class="container border border-secondary rounded">
            <div class="row">
                <!-- Scheduling Part: Products -->
                <div class="col-8">
                    <table class="table table-striped">
                        <tr class="table-info">

                            <!-- Table Headers -->
                            <th id="imageRowHeader"></th>
                            <th>
                                @ViewData["ScheduledItemName"]
                            </th>
                            <th>
                                @ViewData["Price"]
                            </th>
                            <th>
                                @ViewData["CategoryType"]
                            </th>
                            <th>
                                @ViewData["Description"]
                            </th>
                            <th></th>
                            <!-- END: Table Headers -->
                        </tr>

                        <!-- Table Content -->
                        @if (Model.Products.Count > 0)
                        {
                            foreach (var item in Model.Products)
                            {
                                <!-- Images clickable: redirect to Details Page -->
                                <tr class="table-content">
                                    <td id="imageContent">
                                        <a asp-area="Customer" asp-controller="ProductsHome" asp-action="Details" asp-route-id="@item.Id">
                                            <img src="@item.Image" />
                                        </a>
                                    </td>
                                    <td class="tableContentColumn">
                                        @Html.DisplayFor(p => item.Name)
                                    </td>
                                    <td class="tableContentColumn">
                                        @Html.DisplayFor(p => item.Price)
                                    </td>
                                    <td class="tableContentColumn">
                                        @Html.DisplayFor(p => item.CategoryTypes.Name)
                                    </td>
                                    <td class="tableContentColumn">
                                        @Html.DisplayFor(p => item.Description)
                                    </td>

                                    <!-- delete the Items from the Cart -->
                                    <td class="tableContentColumn">
                                        <button type="submit" class="btn btn-danger" asp-action="remove" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i></button>
                                    </td>
                                </tr>
                            }
                        }
                        else if (Model.UserServices.Count > 0)
                        {
                            foreach (var item in Model.UserServices)
                            {
                                <!-- Images clickable: redirect to Details Page -->
                                <tr class="table-content">
                                    <td id="imageContent">
                                        <a asp-area="Customer" asp-controller="UserServicesHome" asp-action="Details" asp-route-id="@item.Id">
                                            <img src="@item.Image" />
                                        </a>
                                    </td>
                                    <td class="tableContentColumn">
                                        @Html.DisplayFor(p => item.Name)
                                    </td>
                                    <td class="tableContentColumn">
                                        @Html.DisplayFor(p => item.Price)
                                    </td>
                                    <td class="tableContentColumn">
                                        @Html.DisplayFor(p => item.CategoryTypes.Name)
                                    </td>
                                    <td class="tableContentColumn">
                                        @Html.DisplayFor(p => item.Description)
                                    </td>

                                    <!-- delete the Items from the Cart -->
                                    <td class="tableContentColumn">
                                        <button type="submit" class="btn btn-danger" asp-action="remove" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i></button>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <div>@ViewData["NoItemsAdded"]</div>
                        }
                    </table>
                </div>

                <!-- Scheduling Part: Appointments -->
                <div class="col-4">
                    <div class="row">
                        @*<div class="col-12">
                            <label>@ViewData["NameSchedulingUser"] : </label>
                        </div>*@
                        <div class="col-12">
                            <input type="hidden" asp-for="@Model.Appointments.CustomerName" class="form-control" />
                        </div>
                        <div class="col-12">
                            @*<label>@ViewData["PhoneNumber"] : </label>*@
                        </div>
                        <div class="col-12">
                            <input type="hidden" asp-for="@Model.Appointments.CustomerPhoneNumber" class="form-control" />
                        </div>
                        <div class="col-12">
                            @*<label>@ViewData["Email"] : </label>*@
                        </div>
                        <div class="col-12">
                            <input type="hidden" asp-for="@Model.Appointments.CustomerEmail" class="form-control" />
                        </div>
                        <div class="col-12">
                            <label>@ViewData["AppointmentDate"] : </label>
                        </div>
                        <div class="col-12">
                            <input asp-for="@Model.Appointments.AppointmentDate" value="" type="text" id="datepicker" class="form-control" />
                            <span asp-validation-for="@Model.Appointments.AppointmentDate" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <label>@ViewData["AppointmentTime"] : </label>
                        </div>
                        <div class="col-12">
                            <input asp-for="@Model.Appointments.AppointmentTime" value="" type="text" class="timepicker form-control" />
                            <span asp-validation-for="@Model.Appointments.AppointmentTime" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <button type="submit" id="btnPlaceOrder" class="btn btn-success">@ViewData["ScheduleAppointment"]</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    @*}*@
</form>

<!-- adding Scripts -->
<!-- min Date: tomorrow -->
<!-- max Date: 3 Months -->
@section Scripts
    {
    <script>
        // Time-Picker
        $('.timepicker').timepicker({
            timeFormat: 'h:mm p',
            interval: 60,
            minTime: '10',
            maxTime: '20:00pm',
            //defaultTime: '11',
            startTime: '06:00',
            dynamic: true,
            dropdown: true,
            scrollbar: true
        });

        // Date-Picker
        $(function () {
            $("#datepicker").datepicker({
                minDate: +1,
                maxDate: "+3M"
            });
        });
    </script>

    <partial name="_ValidationScriptsPartial" />
}

